[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/Coral"]
	path = vendor/Coral
	url = https://github.com/heyallnorahere/Coral.git
[submodule "vendor/cimgui"]
	path = vendor/cimgui
	url = https://github.com/heyallnorahere/cimgui.git
